{% extends "base.html" %}

{% block content %}
  {% include "_dashboard_header.html" %}

  <section class="card-grid">
    {% for periodo, materias in course_catalog.items() %}
      <article class="card">
        <h3>{{ periodo }}</h3>
        <ul class="plain-list">
          {% for materia in materias %}
            <li>
              <a href="{{ url_for(base_path ~ '.disciplina_forum', disciplina=materia) }}">{{ materia }}</a>
            </li>
          {% endfor %}
        </ul>
      </article>
    {% endfor %}
  </section>
{% endblock %}