{% extends "base.html" %}

{% block content %}
<section class="card privacy-card">
  <div class="privacy-header">
    <p class="eyebrow">Política e Privacidade</p>
    <h1>Política e Privacidade</h1>
  </div>
  <div class="privacy-content">
    <p>A presente política tem por finalidade informar e exemplificar os seguintes pontos:</p>
    <ul>
      <li>Qual a informação que poderá ser coletada sobre os usuários do Código do Sucesso;</li>
      <li>Como é que o Código do Sucesso irá fazer uso dessa informação;</li>
      <li>Se e em que condições é que o Público poderá divulgar os seus dados pessoais a outras partes;</li>
      <li>Como é que o Código do Sucesso salvaguarda os dados pessoais dos seus utilizadores;</li>
      <li>Como pode entrar em contato com o Código do Sucesso.</li>
    </ul>

    <h2>Dados coletados pelo Código do Sucesso</h2>
    <p>Podemos coletar dados pessoais de diversas maneiras, dependendo das suas configurações e interações com o site. Coletamos dados quando:</p>
    <ul>
      <li>Preenche um formulário;</li>
      <li>Realiza o cadastro no nosso website;</li>
      <li>Acessa ou interage na nossa plataforma;</li>
      <li>Entra em contato conosco.</li>
    </ul>
    <p>Sua participação e utilização de nossos serviços estão sujeitas ao seu consentimento explícito, que será solicitado de forma clara e transparente em cada situação de coleta de dados pessoais. Uma vez concedido o seu consentimento, o usuário está sujeito às condições de coleta, uso, armazenamento e compartilhamento de dados pessoais conforme definido nesta Política de Privacidade.</p>

    <h2>As informações que você nos fornece podem ser incluídas nesta categoria:</h2>
    <p>Dados de cadastro de conta. Esses dados são necessários para criar o cadastro no nosso site e podem incluir nome, e-mail, foto de perfil, CP (incluindo para fins de comunicação via e-mail).</p>

    <h2>Utilização dos dados coletados</h2>
    <p>O Código do Sucesso utiliza as informações coletadas para diversas finalidades, incluindo:</p>
    <ul>
      <li>Disponibilizar o nosso serviço, garantindo que você possa usufruir de todas as funcionalidades disponíveis.</li>
      <li>Personalizar a sua experiência, oferecendo conteúdos e recursos adequados aos seus interesses e necessidades.</li>
      <li>Cumprir com as leis e regulamentações legais e aplicáveis, de forma a assegurar a segurança e integridade dos dados dos usuários. Nós nos comprometemos em utilizar essas informações de forma responsável e em conformidade com a legislação em vigor.</li>
      <li>Implementar medidas apropriadas de segurança para proteger e prevenir a plataforma contra ameaças, investigar e prevenir práticas fraudulentas, evitar acessos não autorizados e outras atividades ilegais.</li>
    </ul>

    <h2>Compartilhamento de dados</h2>
    <p>A proteção das suas informações pessoais é uma prioridade para o Código do Sucesso. O compartilhamento, quando necessário, dessas informações com terceiros segue nossos padrões de segurança e está sujeito à obrigação de confidencialidade e privacidade. Alguns casos em que isso pode ocorrer são explicados abaixo:</p>
    <ul>
      <li>Com as áreas internas do Código do Sucesso.</li>
      <li>Para cumprir com os Termos de Uso da Plataforma, incluindo a verificação de eventuais violações. Essa medida é essencial para manter a integridade e segurança do ambiente virtual, garantindo uma experiência segura para todos os usuários.</li>
      <li>Para garantir o cumprimento das condições desta Política e/ou dos Termos de Uso.</li>
    </ul>

    <h2>Proteção de dados</h2>
    <p>O Código do Sucesso adota práticas alinhadas aos padrões técnicos e regulatórios de mercado para assegurar a segurança e privacidade dos seus dados.</p>
    <ul>
      <li>Os dados que coletamos são tratados de forma anonimizada para que o usuário não seja identificado pessoalmente.</li>
      <li>Para preservar a integridade dos seus dados contra acesso, uso, alteração, divulgação ou destruição não autorizados, adotamos a proteção física e lógica dos ativos, comunicações criptografadas, controle de acessos, desenvolvimento seguro de software e políticas internas de conformidade que incorporam a segurança em todas as etapas dos nossos serviços.</li>
      <li>Todos esses controles são revisados periodicamente para acompanhar e responder ao contexto de ameaças na Internet. No entanto, não podemos garantir que nossos serviços sejam totalmente invioláveis. No caso de ocorrer qualquer comprometimento de informações sob nosso controle devido a uma violação de segurança, adotaremos as medidas cabíveis para investigar a situação e notificaremos você sobre o incidente, em conformidade com as leis e regulamentos vigentes.</li>
    </ul>

    <h2>Direitos do Titular de dados</h2>
    <p>Você tem o direito de acessar, corrigir, excluir e transferir seus dados pessoais.</p>

    <h2>Contato</h2>
    <p>A nossa Política de Privacidade está em conformidade com a LGPD e visa proteger a privacidade e os direitos dos usuários do Código do Sucesso. Valorizamos a transparência e estamos empenhados em garantir que todas as informações pessoais sejam tratadas com o devido respeito e responsabilidade.</p>
    <a class="button ghost" href="{{ url_for('home') }}">Voltar à tela inicial</a>
  </div>
</section>
{% endblock %}
